* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    outline: 2px solid black;
    border-radius: 5px;
    background-color: #ffe6e6;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.header2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.canvas {
    /* outline: 2px solid red; */
    background-color: white;
    border-top: 2px solid black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    align-content: flex-start;
}

.pixel {
    width: 31.25px;
    height: 31.25px;
    flex: 0 0 31.25px;
}

button {
    background-color: #99ccff;
    padding: 10px;
    color: white;
    
    border-style: none;
    border-radius: 5px;
}